name: run go tests

on:
  push:
    branches:
      - master
  pull_request:

permissions:
  contents: read

jobs:
  build:
    uses: csmith/github-workflows/.github/workflows/go-test.yml@master
    with:
      tags: integration
